<!DOCTYPE html>
<html>
<head>
  <title>Cloud Inventory System</title>
  <%= stylesheet_link_tag    "sink" %>
  <%= stylesheet_link_tag    "ext-neptune" %>
  
  <%= javascript_include_tag "ext" %>
  <%= javascript_include_tag "ext-neptune" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
